@import url('./common.scss');

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
  grid-gap: 12px;
  justify-content: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: transform var(--animation-duration) var(--timing-function);
  text-decoration: none;
}

.photo-card:hover {
  transform: scale(1.03);
}
.gallery-link {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  text-decoration: none;
  height: 100%;
}

.gallery-image {
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.info {
  display: flex;
  align-items: center;
}

.info-item {
  color: #212121;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.load-more {
  margin: 20px;
}

.is-hidden {
  display: none;
}
